.footerItems,p{
    color:white;
    font-size:12px;
}

.footerItems li{
    list-style: none;
    cursor: pointer;
}


.footerItems{
    margin-top: 12px;
}

p{
    color: #878787;
}

@media (max-width:627px) {
    .footerItems li{
        display: none;
    }
    .footerItems p{
        cursor: pointer;
    }
}