.Footer{
    height: 354px;
    width:100%;
    background-color: black;
}

.UpperFooter{
    height: 245px;;
    display: flex;
    justify-content: space-between;
    padding:40px 60px 0px;
    border-bottom:1px solid rgb(255, 255, 255);
    flex-wrap: wrap;
}

@media (max-width:998px) {
   .UpperFooter{
    height: 260px;
    padding:16px 60px 0px;
   }
}

@media (max-width:627px) {
    .Footer{
        height:201px;
    }
    .UpperFooter{
        height:75px;
    }
}

@media (max-width:436px) {
    .UpperFooter{
        height: 159px;
    }
    .Footer{
        height: 322px;
    }
}

@media (max-width:359px) {
    .Footer{
        height:317px;
    }  
}

@media (max-width:306px) {
    .Footer{
        height: 356px;
    }
    .UpperFooter{
        height: 203px;
    }
}