.footerItems p{
    color:white;
    font-size:12px;
}

.footerItems li{
    color: white;
    list-style: none;
    cursor: pointer;
}


.footerItems{
    margin-top: 12px;
}

@media (max-width:627px) {
    .footerItems li{
        display: none;
    }
    .footerItems p{ 
        cursor: pointer;
    }
}

@media (max-width:1210px) {
    .footerItems li{
        font-size:12px;
    }
}

@media (max-width:301px) {
    .footerItems li{
        white-space: normal;
        word-wrap: break-word;
    }
}