.GroupProduct{
    position: relative;
    height:87%;
    width:85%;
    border:1px solid rgb(172, 159, 159);
    display: flex;
    flex-direction: column;
    padding:5px;
    align-items: center;
    border-radius:3px;
    justify-content: space-between;
    background-color:white;
}
.GroupProduct:hover{
    cursor: pointer;
}

#groupImg{
    top:3px;
    border-radius: 10px;
    position: relative;
}
#groupImg:hover{
    transform: scale(1.03);
}

p{
    line-height:0.5px;
    font-weight: 400;
    font-size:17px;
}
#special{
    font-weight:600;
}
.addToCartGroupBtn{
    position: absolute;
    background-color: #fff;
    width:32px;
    height:25px;
    bottom:-25px;
    right:-25px;
    display: none;
    cursor: pointer;
}


.GroupProduct:hover{
    .addToCartGroupBtn{
        display: block;
        bottom:17px;
        right:17px;
    }
}