.NavBar{
    height: 67px;
    position: relative;
    width:100%;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    position:fixed;
    top: 0;
    z-index: 1000;
    left: 0;
}

.NavBar img:hover{
    cursor: pointer;
}

.search{
    width:40.21%;
}

#search{
    width:100%;
    height:40px;
    background-color:rgb(209, 232, 233);
    outline:none;
    border: none;
}

.cart , .seller , .login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.cart i, .seller i , .login i{
    margin-right: 0.5rem;
}
.login,.cart,.seller,.fa-solid:hover{
    cursor:pointer;
}

@media (max-width:900px) {
    .search{
        width:30%;
    }
}

@media (max-width:780px) {
    .seller{
        display: none;
    }
}
.NavBarLink{
    text-decoration: none;
}

@media (max-width:530px) {
    .cart{
        display: none;
    }
}