.ProductTab{
    height:280px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: white;
    flex-wrap: wrap;
}
.main{
    background-color:rgb(255, 255, 255);
    margin-top:2rem;
    width: 100%;
}
.title{
    display: flex;
    align-items: center;
    margin-left:20px;
    justify-content: space-between;
}

@media (max-width:1040px) {
    .main{
        height:650px;
    }
}

@media (max-width:662px) {
    .main{
        height:895px;
    }
}

@media (max-width:455px) {
    .main{
        height:524px;
    }
}
@media (max-width:420px) {
    .main{
        height:730px;
    }
}
.title i{
    height:6px;
    width:6px;
    font-size:10px;
    margin-right:5px;
    padding:1rem;
    border-radius:50%;
    background-color:blue;
}

.NavigateNextIcon{
    cursor: pointer;
    background-color: blue;
    border-radius:50%;
}