.Login{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    margin-top:67px;
    padding-left:1px
}

.userLogin{
    height:455px;
    width:444px;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:56px 35px 16px;
    align-items:center;
    background-color: white;
}
.sideLogin{
    height:449px;
    width:234px;
    background-color: #2874f0;
    display: flex;
    flex-direction: column;
    padding: 40px 33px;
}

#inp{
    width:434px;
    height:38px;
    border: none;
    border-bottom:1px solid black;
    margin-bottom:27px;
    outline: none;
}

.terms{
    font-size:12px;
    color: #878787;
}

button{
    background: #fb641b;
    width:442px;
    height:38px;
    border:none;
}

.resister{
    font-size: 12px;
    font-weight: 500;
}